.text-gradient:hover{
    background: -webkit-linear-gradient(45deg,#ca3354, #35699b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.background-dark{
    background-color: #212529;
}


.activeLink{
    background-color: #343435;
    /* background-color: red; */
}