<div class="row">
    <div class="offcanvas-header">
        <a 
        class="h4 text-light text-decoration-none mt-5 ps-4"
        routerLink="/">
        iGSE | <span class="lead">Energy</span>
        </a>
        <button type="button" class="btn mt-5 text-light" data-bs-dismiss="offcanvas" aria-label="Close"><fa-icon [icon]="faRemove"></fa-icon></button>
    </div>
    
   
    <div *ngIf="role === 'user'">
        <ul 
            class="list-group list-group-flush mt-3" 
            *ngFor="let usersidebarItem of usersidebarList">
            <!-- <li class="list-group-item bg-dark text-light"><a>Dashboard</a></li>
            <li class="list-group-item bg-dark text-light"><a>View & Pay Bills</a></li>
            <li class="list-group-item bg-dark text-light"><a>Submit Reading</a></li>
            <li class="list-group-item bg-dark text-light"><a>Top-up</a></li>
            <li class="list-group-item bg-dark text-light"><a>Logout</a></li> -->
            <li class="list-group-item background-dark custom-border text-gradient" routerLinkActive="activeLink">
                <a 
                    class="text-decoration-none text-light"
                    routerLink="{{ usersidebarItem.url }}">
                    <fa-icon [icon]="usersidebarItem.icon" class="pe-2"></fa-icon>{{usersidebarItem.name}}
                </a>
            </li>
        </ul>
        <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item background-dark custom-border">
                <a 
                    class="text-decoration-none text-light"
                    (click)="authService.logoutUser()">
                    <fa-icon [icon]="faRemove" class="pe-2"></fa-icon>Logout
                </a>
            </li>
        </ul>
    </div>
    <div *ngIf="role === 'admin'">
        <ul 
            class="list-group list-group-flush mt-3" 
            *ngFor="let adminSideBarItem of adminSideBarList">
            <!-- <li class="list-group-item bg-dark text-light"><a>Dashboard</a></li>
            <li class="list-group-item bg-dark text-light"><a>View & Pay Bills</a></li>
            <li class="list-group-item bg-dark text-light"><a>Submit Reading</a></li>
            <li class="list-group-item bg-dark text-light"><a>Top-up</a></li>
            <li class="list-group-item bg-dark text-light"><a>Logout</a></li> -->
            <li class="list-group-item background-dark custom-border text-gradient" routerLinkActive="activeLink">
                <a 
                    class="text-decoration-none text-light"
                    routerLink="{{ adminSideBarItem.url }}">
                    <fa-icon [icon]="adminSideBarItem.icon" class="pe-2"></fa-icon>{{adminSideBarItem.name}}
                </a>
            </li>
        </ul>
        <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item background-dark custom-border">
                <a 
                    class="text-decoration-none text-light"
                    (click)="authService.logoutUser()">
                    <fa-icon [icon]="faRemove" class="pe-2"></fa-icon>Logout
                </a>
            </li>
        </ul>
    </div>
    
</div>
