<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 ps-0">
            <h4 class="mb-3">Enter your meter reading</h4>
            <form action="#" class="row g-2">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="date" class="form-control" name="Submission Date" id="floatingDate" placeholder="dd/mm/yyyy">
                        <label for="floatingDate">Submission Date</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input type="number" class="form-control" name="Day Reading" id="floatingDayReading" placeholder="Electricity (Day)">
                        <label for="floatingDayReading">Electricity(Day)</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input type="number" class="form-control" name="Day Reading" id="floatingNightReading" placeholder="Electricity (Night)">
                        <label for="floatingNightReading">Electricity(Night)</label>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="form-floating">
                        <input type="number" class="form-control" name="Day Reading" id="floatingGasReading" placeholder="Gas Reading">
                        <label for="floatingGasReading">Gas Reading</label>
                    </div>
                </div>
                <div class="col-12">
                    <button 
                    class="btn btn-dark col-12 col-md-6 col-lg-6"
                    routerLink="/user">Submit Reading</button>
                </div>
            </form>
        </div>
    </div>
</div>

