<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 g-md-4 g-lg-4 py-5">
    <div class="col">
        <div class="card bg-red text-light">
            <div class="card-body mt-1">
                <h5 class="card-title mb-4 text-center">Standard Tariff Rates</h5>
                <ul 
                    class="list-group list-group-flush"
                    *ngFor="let rate of rateList">
                    <!-- <li class="list-group-item bg-red text-light"><span class="fw-light">Electricity (Day) per kWh:</span> &#163;0.34</li>
                    <li class="list-group-item bg-red text-light"><span class="fw-light">Electricity (Night) per kWh:</span> &#163;0.2 </li>
                    <li class="list-group-item bg-red text-light"><span class="fw-light">Gas per kWh:</span> &#163;0.1</li>
                    <li class="list-group-item bg-red text-light"><span class="fw-light">Standing charge per day:</span> &#163;0.74</li> -->
                    <li class="list-group-item bg-red text-light"><span class="fw-light">{{ rate.tariff_type | titlecase }}:</span> &#163;{{ rate.value }}</li>
                </ul>
                <!-- <p class="card-text mb-1"><span class="fw-light">Electricity (Day) per kWh:</span> &#163;0.34 </p>
                <p class="card-text mb-1"><span class="fw-light">Electricity (Night) per kWh:</span> &#163;0.2 </p>
                <p class="card-text mb-1"><span class="fw-light">Gas per kWh:</span> &#163;0.1</p>
                <p class="card-text mb-1"><span class="fw-light">Standing charge per day:</span> &#163;0.74</p>
                <p class="card-text mb-1"><span class="fw-light">Paid On:</span> 20/12/2022</p> -->
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-blue text-light">
            <div class="card-body mt-1">
                <h5 class="card-title mb-4 text-center">Latest Paid Bill</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-blue text-light"><span class="fw-light">Electricity Usage(Day):</span> 100kWh</li>
                    <li class="list-group-item bg-blue text-light"><span class="fw-light">Electricity Usage(Night):</span> 250kWh</li>
                    <li class="list-group-item bg-blue text-light"><span class="fw-light">Gas Usage:</span> 800kWh</li>
                    <li class="list-group-item bg-blue text-light"><span class="fw-light">Paid Amount:</span> &#163;100.00</li>
                    <li class="list-group-item bg-blue text-light"><span class="fw-light">Paid On:</span> 20/12/2022</li>
                </ul>
                <!-- <p class="card-text mb-1"><span class="fw-light">Electricity Usage(Day):</span> 100kWh </p>
                <p class="card-text mb-1"><span class="fw-light">Electricity Usage(Night):</span> 250kWh </p>
                <p class="card-text mb-1"><span class="fw-light">Gas Usage:</span> 800kWh</p>
                <p class="card-text mb-1"><span class="fw-light">Paid Amount:</span> &#163;100.00</p>
                <p class="card-text mb-1"><span class="fw-light">Paid On:</span> 20/12/2022</p> -->
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-red-1 text-light">
            <div class="card-body mt-1">
                <h5 class="card-title mb-4 text-center">Latest Unpaid Bill</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-red-1 text-light"><span class="fw-light">Electricity Usage(Day):</span> 100kWh </li>
                    <li class="list-group-item bg-red-1 text-light"><span class="fw-light">Electricity Usage(Night):</span> 250kWh </li>
                    <li class="list-group-item bg-red-1 text-light"><span class="fw-light">Gas Usage:</span> 800kWh</li>
                    <li class="list-group-item bg-red-1 text-light"><span class="fw-light">Due Amount:</span> &#163;100.00</li>
                    <li class="list-group-item bg-red-1 text-light"><span class="fw-light">Due Date:</span> 20/01/2023</li>
                </ul>
                <!-- <p class="card-text mb-1"><span class="fw-light">Electricity Usage(Day):</span> 100kWh </p>
                <p class="card-text mb-1"><span class="fw-light">Electricity Usage(Night):</span> 250kWh </p>
                <p class="card-text mb-1"><span class="fw-light">Gas Usage:</span> 800kWh</p>
                <p class="card-text mb-1"><span class="fw-light">Due Amount:</span> &#163;100.00</p>
                <p class="card-text mb-1"><span class="fw-light">Due Date:</span> 20/01/2023</p> -->
                <!-- <div class="row g-1 mt-3">
                    <div class="col-12 col-md-12 col-lg-4">
                        <a href="#" class="btn btn-primary">Pay Bill</a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="#" class="btn btn-primary">view Bill</a>
                    </div>
                </div> -->
            </div>
            <div class="card-body d-flex align-self-center pt-0">
                <a class="text-decoration-none text-light p-2" routerLink="/user/viewbill">View Readings</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-blue text-light">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Submit Meter Reading</h5>
                <p class="card-text text-center">Upload your current month meter reading from the below link.</p>
            </div>
            <div class="card-body d-flex align-self-center pt-0">
                <button type="button" class="btn text-light" routerLink="/user/meterreading">Submit Reading</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-red text-light">
            <div class="card-body">
                <h5 class="card-title mb-4 text-center">Top-up Wallet</h5>
                <p class="card-text text-center">Upload your current month meter reading from the below link.</p>
            </div>
            <div class="card-body d-flex align-self-center pt-0">
                <button type="button" class="btn text-light" routerLink="/user/topup">Top-Up</button>
            </div>
        </div>
    </div>
</div>
