<div class="container mt-5">
    <div class="row">
        <h4 class="mb-3 ps-0 text-light">Bills</h4>
        <div class="col-12 ps-0 table-responsive">
            <table class="table table-striped table-hover table-light">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Customer Id</th>
                      <th scope="col">Submission Date</th>
                      <th scope="col">Electricity(Day) per kWh</th>
                      <th scope="col">Electricity(Night) per kWh</th>
                      <th scope="col">Gas per kWh</th>
                      <th scope="col">Amount(&#163;)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let customerBill of customerReadingList; let serialNumber = index">
                        <th scope="row">{{ serialNumber+1 }}</th>
                        <td>{{ customerBill.customerId}}</td>
                        <td>{{ customerBill.submissionDate}}</td>
                        <td>{{ customerBill.elecReadingDay}}</td>
                        <td>{{ customerBill.elecReadingNight}}</td>
                        <td>{{ customerBill.gasReading}}</td>
                        <td>{{ customerBill.amount }}</td>
                        
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>
</div>
