<div class="container">
    <div class="row d-flex justify-content-center">
        <form action="#" class="row g-3">
            <div class="form-floating mb-3 col-3">
                <input type="text" name="FirstName" id="floatingFirstName" class="form-control" placeholder="John Doe">
                <label for="floatingFirstName">First Name</label>
            </div>
            <div class="form-floating mb-3 col-3">
                <input type="text" name="LastName" id="floatingLastName" class="form-control" placeholder="John Doe">
                <label for="floatingLastName">Last Name</label>
            </div>
            <div class="form-floating mb-3 col-3">
                <input type="email" name="Email" id="floatingEmail" class="form-control" placeholder="John Doe">
                <label for="floatingEmail">Email</label>
            </div>
            <div class="form-floating mb-3 col-3">
                <input type="password" name="Password" id="floatingPassword" class="form-control" placeholder="John Doe">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-3 col-3">
                <input type="password" name="Confirm Password" id="floatingConfirmPassword" class="form-control" placeholder="John Doe">
                <label for="floatingConfirmPassword">Confirm Password</label>
            </div>
            <div class="form-floating mb-3 col-3">
                <select name="Property Type" id="floatingSelect" class="form-select">
                    <option selected>Select from below property type</option>
                    <option value="detached">Detached</option>
                    <option value="semi-detached">Semi-Detached</option>
                    <option value="terraced">Terraced</option>
                    <option value="flat">Flat</option>
                    <option value="cottage">Cottage</option>
                    <option value="bunglow">Bunglow</option>
                    <option value="mansion">Mansion</option>
                </select>
                <label for="floatingSelect">Property Type</label>
            </div>
            <div class="form-floating mb-3 col-3">
                <input type="number" name="Number of Bedroom" id="floatingNoBedroom" class="form-control" placeholder="John Doe">
                <label for="floatingNoBedroom">Number of Bedrooms</label>
            </div>
        </form>
    </div>
</div>
