<section class="register">
    <div class="row no-gutters">
        <div class="col-12 col-md-12 col-lg-5 d-none d-sm-block px-5 bg-custom">
            <div class="d-flex min-vh-100 flex-column justify-content-center position-relative">
                <a 
                    class="fw-semibold h4 mb-3 pt-5 text-light text-decoration-none position-absolute top-0 start-0"
                    routerLink="/">iGSE | <span class="lead">Energy</span></a>
                <p class="text-light my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nam impedit voluptatum quas commodi deserunt doloribus tempora veniam maiores, eaque et dolore iste? Assumenda quos quo modi eveniet magnam. Iusto?</p>
                <img src="../../../assets/register-1.svg" alt="" width="100%" class="mt-3">
            </div> 
        </div>
        <div class="col-12 col-lg-7 p-5 p-sm-2 d-flex flex-column justify-content-center align-items-center">
            <div class="col-12 col-lg-8">
                <a 
                    class="brand-color fw-semibold text-light h1 d-block d-sm-block d-md-none mb-3"
                    routerLink="/">iGSE | <span class="lead">Energy</span></a>
                <h2 class="pb-3 mt-3 align-self-center">Create your account!</h2>
                <form 
                    novalidate
                    class="row g-1 g-sm-2 g-lg-2 needs-validation"
                    (ngSubmit)="onSubmit()"
                    [formGroup]="registerForm">
                    <!-- <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="text" name="FirstName" id="floatingFirstName" class="form-control" placeholder="John Doe">
                            <label for="floatingFirstName">First Name</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="text" name="LastName" id="floatingLastName" class="form-control" placeholder="John Doe">
                            <label for="floatingLastName">Last Name</label>
                        </div>
                    </div> -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input 
                                type="email" 
                                formControlName="customer_id" 
                                id="floatingEmail" 
                                class="form-control" 
                                placeholder="johndoe@xyz.com">
                            <label for="floatingEmail">Email</label>
                            <span 
                                *ngIf="!registerForm.get('customer_id').valid && registerForm.get('customer_id').touched"
                                class="text-danger">Please provide a valid email.</span>
                            <span
                                *ngIf="usernameExists"
                                class="text-danger">
                                Email already exists
                            </span>
                            <!-- <span 
                                *ngIf="registerForm.get('customer_id').valid && registerForm.get('customer_id').touched"
                                class="text-success">Looks good.</span> -->
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input 
                                type="password" 
                                formControlName="password" 
                                id="floatingPassword"
                                class="form-control" 
                                placeholder="John Doe">
                            <label for="floatingPassword">Password</label>
                            <span 
                                *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
                                class="text-danger">
                                <span *ngIf="registerForm.get('password').errors.required">
                                    Please provide a valid password.
                                </span>
                                <span *ngIf="registerForm.get('password').errors.minlength">
                                    Password must be at least 8 characters.
                                </span>
                                
                            </span> 
                            <!-- <span 
                                *ngIf="registerForm.get('password').valid && registerForm.get('password').touched"
                                class="text-success">Looks good.</span> -->
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input 
                                type="text" 
                                formControlName="address" 
                                id="floatingAddress" 
                                class="form-control" 
                                placeholder="123 XYZ Street">
                            <label for="floatingAddress">Address</label>
                            <span 
                                *ngIf="!registerForm.get('address').valid && registerForm.get('address').touched"
                                class="text-danger">
                                    Please provide a valid password(Eg. 123 XYZ Street).
                            </span>
                            <!-- <span 
                                *ngIf="registerForm.get('address').valid && registerForm.get('address').touched"
                                class="text-success">Looks good.</span> -->
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3 mb-md-1 mb-lg-1">
                            <select formControlName="propertyType" id="floatingSelect" class="form-select">
                                <option>Select from below property type</option>
                                <option value="detached">Detached</option>
                                <option value="semi-detached">Semi-Detached</option>
                                <option value="terraced">Terraced</option>
                                <option value="flat">Flat</option>
                                <option value="cottage">Cottage</option>
                                <option value="bunglow">Bunglow</option>
                                <option value="mansion">Mansion</option>
                            </select>
                            <label for="floatingSelect">Property Type</label>
                            <span 
                                *ngIf="!registerForm.get('propertyType').valid && registerForm.get('propertyType').touched"
                                class="text-danger">Please provide a valid password.</span>
                            <!-- <span 
                                *ngIf="registerForm.get('propertyType').valid && registerForm.get('propertyType').touched"
                                class="text-success">Looks good.</span> -->
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-1">
                            <input 
                                type="number" 
                                formControlName="bedroomNum" 
                                id="floatingNoBedroom" 
                                class="form-control" 
                                placeholder="John Doe">
                            <label for="floatingNoBedroom">Bedrooms Count</label>
                            <span 
                                *ngIf="!registerForm.get('bedroomNum').valid && registerForm.get('bedroomNum').touched"
                                class="text-danger">Please provide a valid bedroom count.</span>
                            <!-- <span 
                                *ngIf="registerForm.get('bedroomNum').valid && registerForm.get('bedroomNum').touched"
                                class="text-success">Looks good.</span> -->
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-7">
                        <div class="form-floating mb-1">
                            <input 
                                type="text" 
                                formControlName="evcCode" 
                                id="floatingEvcCode" 
                                class="form-control" 
                                placeholder="DS34D7DF"
                                value="{{ (action.data.value)['data'] }}">
                            <label for="floatingEvcCode">EVC Code</label>
                            <span 
                                *ngIf="!registerForm.get('evcCode').valid && registerForm.get('evcCode').touched"
                                class="text-danger">Please provide a valid EVC code.</span>
                            <span
                                *ngIf="voucherUsed"
                                class="text-danger">
                                Voucher is expired
                            </span>
                            <span
                                *ngIf="voucherInvalid"
                                class="text-danger">
                                Invalid voucher!
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 d-flex align-self-center">
                        <button 
                        class="btn btn-dark text-light" 
                        data-bs-toggle="modal" 
                        data-bs-target="#topUpModal"
                        (click)="action.start()">
                            <fa-icon [icon]="faCamera" class="me-2"></fa-icon>Scan QR Code
                        </button>
                    </div>
                    <!-- Modal for camera scanner starts-->

                    <div class="modal fade" id="topUpModal" tabindex="-1" aria-labelledby="topUpModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="topUpModalModalLabel">Scan your voucher</h5>
                                    <button 
                                        type="button" 
                                        class="btn-close" 
                                        data-bs-dismiss="modal" 
                                        aria-label="Close"
                                        (click)="action.stop()"></button>
                                </div>
                                <div class="modal-body">
                                    <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
                                </div>
                                <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div> -->
                            </div>
                        </div>
                      </div>

                    <!-- Modal for camera ends -->
                    <div class="col-12 mb-2">
                        <input 
                            type="checkbox" 
                            formControlName="termsAndConditions" 
                            id="terms_condition"
                            class="mr-3">
                        <label for="terms_condition">&nbsp;Accept the terms & conditions</label>
                        <span 
                            *ngIf="!registerForm.get('termsAndConditions').valid && registerForm.get('termsAndConditions').touched"
                            class="text-danger">
                                Without accepting the terms you cannot register.
                        </span>
                        <!-- <span 
                            *ngIf="registerForm.get('termsAndConditions').valid && registerForm.get('termsAndConditions').touched"
                            class="text-success">Looks good.</span> -->
                    </div>
                    <div class="col-12 mb-1">
                        <button 
                            class="btn btn-dark col-12 col-md-6 col-lg-6"
                            type="submit" [disabled]="!registerForm.valid">Register!</button>
                    </div>
                    <div class="col-12 mb-3">
                        <p>Already have an account?<br><a class="text-decoration-none" routerLink="/login">Login here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

