<section class="register">
    <div class="container overflow-hidden d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 px-5">
                <img src="../../../assets/register.svg" alt="" width="100%">
            </div>
            <div class="col-12 col-lg-6 px-5">
                <h1 class="pb-3 align-self-center">Create your account!</h1>
                <form action="#" class="row g-1 g-sm-2 g-lg-2">
                    <!-- <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="text" name="FirstName" id="floatingFirstName" class="form-control" placeholder="John Doe">
                            <label for="floatingFirstName">First Name</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="text" name="LastName" id="floatingLastName" class="form-control" placeholder="John Doe">
                            <label for="floatingLastName">Last Name</label>
                        </div>
                    </div> -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="email" name="Email" id="floatingEmail" class="form-control" placeholder="John Doe">
                            <label for="floatingEmail">Email</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="password" name="Password" id="floatingPassword" class="form-control" placeholder="John Doe">
                            <label for="floatingPassword">Password</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="password" name="Confirm Password" id="floatingConfirmPassword" class="form-control" placeholder="John Doe">
                            <label for="floatingConfirmPassword">Confirm Password</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-8">
                        <div class="form-floating mb-3 mb-md-1 mb-lg-1">
                            <select name="Property Type" id="floatingSelect" class="form-select">
                                <option selected>Select from below property type</option>
                                <option value="detached">Detached</option>
                                <option value="semi-detached">Semi-Detached</option>
                                <option value="terraced">Terraced</option>
                                <option value="flat">Flat</option>
                                <option value="cottage">Cottage</option>
                                <option value="bunglow">Bunglow</option>
                                <option value="mansion">Mansion</option>
                            </select>
                            <label for="floatingSelect">Property Type</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-floating mb-1">
                            <input type="number" name="Number of Bedroom" id="floatingNoBedroom" class="form-control" placeholder="John Doe">
                            <label for="floatingNoBedroom">Number of Bedrooms</label>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <input type="checkbox" name="Terms & Conditions" id="terms_condition" class="mr-3">
                        <label for="terms_condition">&nbsp;Accept the terms & conditions</label>
                    </div>
                    <div class="col-12 mb-1">
                        <button class="btn btn-dark col-12 col-md-6 col-lg-6">Register!</button>
                    </div>
                    <div class="col-12 mb-3">
                        <p>Already have an account?<br><a href="#">Login here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

