<section class="register">
    <div class="row no-gutters">
        <div class="col-12 col-md-12 col-lg-5 d-none d-sm-block px-5 bg-custom">
            <div class="d-flex min-vh-100 flex-column justify-content-center">
                <a href="#" class="fw-semibold h4 mb-3 text-light text-decoration-none">iGSE | <span class="lead">Energy</span></a>
                <p class="text-light my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nam impedit voluptatum quas commodi deserunt doloribus tempora veniam maiores, eaque et dolore iste? Assumenda quos quo modi eveniet magnam. Iusto?</p>
                <img src="../../../assets/register-1.svg" alt="" width="100%" class="mt-3">
            </div> 
        </div>
        <div class="col-12 col-lg-7 p-5 p-sm-2 d-flex flex-column justify-content-center align-items-center">
            <div class="col-12 col-lg-8">
                <a href="#" class="brand-color fw-semibold text-light h1 d-block d-sm-block d-md-none mb-3">iGSE | <span class="lead">Energy</span></a>
                <h2 class="pb-3 mt-3 align-self-center">Create your account!</h2>
                <form action="#" class="row g-1 g-sm-2 g-lg-2">
                    <!-- <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="text" name="FirstName" id="floatingFirstName" class="form-control" placeholder="John Doe">
                            <label for="floatingFirstName">First Name</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="text" name="LastName" id="floatingLastName" class="form-control" placeholder="John Doe">
                            <label for="floatingLastName">Last Name</label>
                        </div>
                    </div> -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="email" name="Email" id="floatingEmail" class="form-control" placeholder="John Doe">
                            <label for="floatingEmail">Email</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="password" name="Password" id="floatingPassword" class="form-control" placeholder="John Doe">
                            <label for="floatingPassword">Password</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="password" name="Confirm Password" id="floatingConfirmPassword" class="form-control" placeholder="John Doe">
                            <label for="floatingConfirmPassword">Confirm Password</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-8">
                        <div class="form-floating mb-3 mb-md-1 mb-lg-1">
                            <select name="Property Type" id="floatingSelect" class="form-select">
                                <option selected>Select from below property type</option>
                                <option value="detached">Detached</option>
                                <option value="semi-detached">Semi-Detached</option>
                                <option value="terraced">Terraced</option>
                                <option value="flat">Flat</option>
                                <option value="cottage">Cottage</option>
                                <option value="bunglow">Bunglow</option>
                                <option value="mansion">Mansion</option>
                            </select>
                            <label for="floatingSelect">Property Type</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-floating mb-1">
                            <input type="number" name="Number of Bedroom" id="floatingNoBedroom" class="form-control" placeholder="John Doe">
                            <label for="floatingNoBedroom">Number of Bedrooms</label>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <input type="checkbox" name="Terms & Conditions" id="terms_condition" class="mr-3">
                        <label for="terms_condition">&nbsp;Accept the terms & conditions</label>
                    </div>
                    <div class="col-12 mb-1">
                        <button class="btn btn-dark col-12 col-md-6 col-lg-6">Register!</button>
                    </div>
                    <div class="col-12 mb-3">
                        <p>Already have an account?<br><a href="#">Login here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

